
<% @videos_list.each do |video| %>
  <a href='/videos/<%= "#{video.id}" %>/display'> <%= video.name %> </a></br>
<% end %>


<%#= video_tag "/ghost-in-the-shell/Zootopia-2016.mp4", :size => "320x240", :controls => true %>
<a href="/chat">Chat Page</a>
<br />