<video width="320" height="240" controls="controls" preload="preload">
  <source src="/videos/ghost-in-the-shell/Ghost-in-the-Shell-SAC-1st-Gig-Episode-2-English-Dubbed-Online-Animeland.mp4" type="video/mp4">
</video>
<!-- <br>
<video width="320" height="240" controls="controls" preload="preload">
  <source src="/videos/ghost-in-the-shell/Zootopia-2016.mp4" type="video/mp4">
</video> -->
<br />
<video width="320" height="240" controls="controls" preload="preload">
  <source src="/videos/Dhuruvangal_Pathinaaru_TamilGun.flv" type="video/mp4">
  <!-- <source src="<%#= video_url('Dhuruvangal_Pathinaaru_TamilGun.flv') %>" type="video/mp4"> -->
</video>
</br>

<%#= video_tag "/ghost-in-the-shell/Zootopia-2016.mp4", :size => "320x240", :controls => true %>
<a href="/chat">Chat Page</a>
<br />